body
{
	font-family: 'Quicksand', sans-serif !important;
	color: #000;
	/*padding-right: 5px;*/
	/*padding-left: 5px;*/
}

.bold
{
  font-weight: bold !important;
}

.black-text
{
  color:#000 !important;
}

.z-depth-1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.z-depth-1-half {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.z-depth-1-2
{
	box-shadow: 0 10px 60px 0 rgba(0, 0, 0, 0.15), 0 4px 15px 0 rgba(0, 0, 0, 0.08);
}

.z-depth-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.z-depth-3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

.z-depth-4 {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21); }

.z-depth-5 {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22); }

.hoverable {
  -webkit-transition: all 0.55s ease-in-out;
  transition: all 0.55s ease-in-out; }
  .hoverable:hover {
  	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-transition: all 0.55s ease-in-out;
    transition: all 0.55s ease-in-out; }

.disabled,
:disabled {
  pointer-events: none !important; }
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }
.dropdown-item
{
	
	outline: none !important;
	cursor: pointer;
	font-size: 14px;
	text-align: left;
}
.dropdown-item:active 
{    
    background-color: #177f90;
}

.input-icon-easy
{
  background: transparent !important;
  border-right: none;
  transition: all .5s ease;  
}

.input-icon-easy > i
{
  transition: all .5s;
}

.middle
{
  position: relative;
  top: 10%;
}

.form-control:focus
{
  color: #495057;
  background-color: #fff;
  border-color: #80bdff !important;
  outline: 0;
  box-shadow: none; 
  transition: all .5s ease;
}

.nice-select:active, .nice-select.open, .nice-select:focus 
{
  border-color: #80bdff;
}

.nice-select
{
  border-color: #ced4da;
}

.nice-select.open .list 
{
  width: 100%;
}

.input-easy
{
  font-size: 17px;
  padding-left: 0px;
  border-left: none;
}

.input-easy::placeholder
{
  font-size: 17px;
}

a:hover
{
  text-decoration: none;
}

.custom-control-label::before, .custom-file-label, .custom-select 
{
  transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}