.nira
{
  font-family: 'Niramit', sans-serif;
}

body
{
	font-family: 'Quicksand', sans-serif !important;
	color: #000;
	/*padding-right: 5px;*/
	/*padding-left: 5px;*/
}

.p1-gradient-color
{
    background: -moz-linear-gradient(0deg, #bdf6ff 0%, #2d71dc 100%);
    background: -webkit-linear-gradient(0deg, #bdf6ff 0%, #2d71dc 100%);
    background: -ms-linear-gradient(0deg, #bdf6ff 0%, #2d71dc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#main-contain
{
  padding-top: 52px;
}

.bold
{
  font-weight: bold !important;
}

.black-text
{
  color:#000 !important;
}

.z-depth-1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.z-depth-1-half {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.z-depth-1-2
{
	box-shadow: 0 10px 60px 0 rgba(0, 0, 0, 0.15), 0 4px 15px 0 rgba(0, 0, 0, 0.08);
}

.z-depth-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.z-depth-3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

.z-depth-4 {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21); }

.z-depth-5 {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22); }

.z-depth-0
{
  box-shadow: none !important;
}

.hoverable {
  -webkit-transition: all 0.55s ease-in-out;
  transition: all 0.55s ease-in-out; }
  .hoverable:hover {
  	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-transition: all 0.55s ease-in-out;
    transition: all 0.55s ease-in-out; }

.disabled,
:disabled {
  pointer-events: none !important; }
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }
.dropdown-item
{
	
	outline: none !important;
	cursor: pointer;
	font-size: 14px;
	text-align: left;
}
.dropdown-item:active 
{    
    background-color: #177f90;
}

.input-icon-easy
{
  background: transparent !important;
  border-right: none;
  transition: all .5s ease;  
}

.input-icon-easy > i
{
  transition: all .5s;
}

.middle
{
  position: relative;
  top: 10%;
}

.form-control:focus
{
  color: #495057;
  background-color: #fff;
  border-color: #80bdff !important;
  outline: 0;
  box-shadow: none; 
  transition: all .5s ease;
}

.nice-select:active, .nice-select.open, .nice-select:focus 
{
  border-color: #80bdff;
}

.nice-select
{
  border-color: #ced4da;
}

.nice-select.open .list 
{
  width: 100%;
}

.input-easy
{
  font-size: 17px;
  padding-left: 0px;
  border-left: none;
}

.input-easy::placeholder
{
  font-size: 17px;
}

a:hover
{
  text-decoration: none;
}

.custom-control-label::before, .custom-file-label, .custom-select 
{
  transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.badge
{
  padding: .25em .4em !important;
}

.badge-notification
{
  position: relative;
  top: -3px !important;
}

@media (max-width: 765px){
  .container-nav
  {
    max-width: 650px;
  }
}

.shadow-lg-easy
{
  box-shadow: 0 1rem 3rem rgba(132, 144, 255, 0.2)!important;
}

.shadow-easy
{
  box-shadow: 0 .5rem 1rem rgba(132, 144, 255, 0.2)!important;
}

.shadow-sm-easy
{
  box-shadow: 0 .125rem .25rem rgba(132, 144, 255, 0.2)!important;
}

/*.dropdown-item 
{
  padding: .25rem 1.5rem !important;
  display: block !important;
}

.dropdown-item {
  display: block !important;
  width: 100% !important;
  padding: .25rem 1.5rem !important;
  clear: both !important;
  font-weight: 400 !important;
  color: #212529 !important;
  text-align: inherit !important;
  white-space: nowrap !important;
  background-color: transparent !important;
  text-transform: initial !important;  
  border: 0 !important;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #000 !important;
    text-decoration: none;
    background-color: #f1f1f1 !important;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff !important;
    text-decoration: none;
    background-color: #cecece !important;
}

.dropdown-header {
  display: block;
  padding: .5rem 1.5rem;
  margin-bottom: 0;
  font-size: 1rem;
  color: #6c757d;
  white-space: nowrap;
}
*/

#notificationContainer 
{
background-color: #fff;
overflow: visible;
position: absolute;
top: 50px;
margin-left: -170px;
width: 350px;
z-index: -1;
display: none; 
border-radius: 5px;
}
#notificationContainer:before 
{
content: '';
display: block;
position: absolute;
width: 0;
height: 0;
color: transparent;
border: 10px solid black;
border-color: transparent transparent #343a40;
margin-top: -20px;
margin-left: 178px;
}

@media screen and (max-width: 768px)
{
  #notificationContainer 
  {
  margin-left: -180px;
  }
  #notificationContainer:before
  {
    margin-left: 187px;
  }
}

#notificationTitle
{
font-weight: bold;
background-color: #9dd2e4;
position: relative;
z-index: 1000;
width: 100%;
border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
/*border-bottom: 1px solid #dddddd;*/
}
#notificationTitle h6
{
  font-size: 15px;
}

#notificationsBody
{
min-height:300px;
height: auto;
overflow-y: auto;
white-space: normal;
color: #343a40;
}

.new-noti
{
  font-size: 12px;
  color: #b1b1b1;
  background: #f0f0f0;
}

#notificationsBody .img-noti
{
  width: 45px;
  height: 45px;
}

#notificationFooter
{
text-align: center;
font-weight: bold;
font-size: 12px;
background: #343a40;
border-bottom-left-radius: 5px !important;
border-bottom-right-radius: 5px !important;
/*border-top: 1px solid #dddddd;*/
}
#notificationFooter a
{
  color: #fff;
  padding:0px;
  text-transform: initial;
}

#notificationFooter a:hover
{
  color:#343a40;
}

.swal2-popup .swal2-title
{
  font-size: 1.2em;
}

.colorT
{
  color:#343a40 !important;
}

.tags-jobs a span
{
  transform: scale(1);
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.tags-jobs a span:hover
{
  transform: scale(1.1);
}

.info-job
{
  margin-bottom:10px !important;
}

.categoy-list a
{
  margin-bottom: 10px;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  border-color: transparent;
}

.categoy-list a:first-child
{
  border-radius: 0px;
}

.categoy-list a:last-child
{
  border-radius: 0px;
  margin-bottom: 0px;
}

.categoy-list a:hover
{
 border-color: #49e4fa;
 background: #fff; 
}

.letter-spacing
{
  letter-spacing: 4px;
}

.ribbon-wrapper-1 {
  width: 106px;
  height: 108px;
  overflow: hidden;
  position: absolute;
  top: -6px;
  right: -6px; }

.ribbon-1 {
  font: bold 15px Sans-Serif;
  line-height: 18px;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -11px;
  top: 26px;
  width: 150px;
  background-color: #73d3da;
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  letter-spacing: 0.5px; }

.ribbon-1:before, .ribbon-1:after {
  content: "";
  border-top: 4px solid #4e7c7d;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  position: absolute;
  bottom: -4px; }

.ribbon-1:before {
  left: 0; }

.ribbon-1:after {
  right: 0; }

.top-user
{
  position: relative;
}

.userImgTop
{
  position: absolute;
  width: 6em !important;
  z-index: 1;
  right: 0;
  left: 0;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  border:none;  
}

/*.wrapper-profile
{
  background-image: url(../src/textures/backTopUser.jpg);
  height: 100vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;    
  top: 0px;
  position: absolute !important;
}*/

.back_color > div > div.col-4
{
  height: 23vh;
}

.div-img-user
{
  position: absolute;top: 8vh;
}

.div-img-user > div
{
  z-index: 100;
}

.profile-img
{
  width: 25vh;
}

@media screen and (max-width: 768px)
{
  .profile-img
  {
    width: 18vh;
  }
  .div-img-user
  {
    top: 10vh;
  }
}

@media screen and (max-height: 600px)
{
  .profile-img
  {
    width: 22vh;
  }
  .div-img-user
  {
    top: 10vh;
  }
}

input[name=searchEasy]
{
  width: 100%;
  outline: none;
  border: none;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 45px;
  font-size: 15px;
  height: 40px;
  box-shadow: 0 10px 60px 0 rgba(0, 0, 0, 0.15), 0 4px 15px 0 rgba(0, 0, 0, 0.08);  
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.wrapper_search > div.wrap-ser
{
  font-size: 20px;
  position: absolute;
  right: 20px;
  cursor: pointer;
  background: none;  
  display: flex;
}
.wrapper_search > div > div.s
{  
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0px 2px;
}

.wrapper_search > div > div.s::before 
{
  content: '';
  display: block;
  height: 30px;
  width: 30px;
  opacity: 0;
  position: absolute;
  transition-duration: .15s;
  background: #000;
  transition-timing-function: cubic-bezier(0.4,0.0,0.2,1);
  border-radius: 3px;
  transform: scale(0);
  transition-property: transform,opacity;
}

.wrapper_search > div > div.s:hover::before
{
  opacity: .06;
  transform: scale(1);
}

.wrapper_search > div > div.s > i
{
  z-index: 100;
  position: relative;
}

@media screen and (max-width: 425px)
{
  .searcher
  {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}

input[name=searchEasy]:focus
{
  box-shadow: none;  
}

.checked {
    color: orange;
}

/* Three column layout */
.side {
    float: left;
    width: 15%;
    margin-top:10px;
}

.statics .middle {
    margin-top:10px;
    float: left;
    width: 70%;
}

/* Place text to the right */
.right {
    text-align: right;
}

/* The bar container */
.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #4CAF50;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
    .side, .statics .middle {
        width: 100%;
    }
    .right {
        display: none;
    }
}

.controls-profile
{
  border: solid 1px #cecece !important;
  border-radius: 10px !important;
  position: relative;
}

.controls-profile:hover
{
  cursor: pointer;
  /*background: #d0f8f861;*/
  border-color: rgb(100,100,110) !important;
  transform: scale(1.05);
}

.controls-profile i
{
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 15px;
  background: #34bfc9;
  border-radius: 50%;
  cursor: help;  
}

.change-photo
{
  bottom: 0px;
  left: 0;
  right: 0;
  color: #fff;  
  height: 0px;
  display: flex;
  justify-content: center;
  /*overflow: hidden;*/
  opacity: 1;
  align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;  
}

.p-img:hover .change-photo
{
  opacity: 1;
  height: 10px;
}

.p-img
{
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-bottom: 25px;
}

.change-photo i
{
  background: #35bfc9;
  font-size: 1em;
  border: solid #fff 4px;
  cursor: pointer;
  box-shadow: 0px 0px 40px 0px rgba(132, 144, 255, 0.2);
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove
{
  font-size: 20px;
  position: relative;
  top: 0px;
  color: #000 !important;
  margin-right: 5px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice 
{
  background-color: #35bfc9 !important;
  padding: 0px 8px !important;
  border: 1px solid #2a959d !important;
  border-radius: 10em !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); 
  color: #fff !important;
  font-weight: bold !important;
}

.select2-container .select2-selection--multiple .select2-selection__rendered
{
  overflow: initial !important;
}

.loadModal.active
{
  top: 80px;   
}

.loadModal
{
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; 
  top: -40px;
  z-index: 1001;
}

.loadModal div
{
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.loadModal div > i
{
  font-size: 25px;
}

.owl-carousel .owl-item
{
  padding:8px;
}



















/* ====================== MENU BANNER ===========================*/
.banner-area {
    background: url(../src/textures/header-bg.jpg) center;
    background-size: cover;
    background-attachment: fixed;
}
/*#header {
    padding: 14px 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
}*/
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.logoShort
{
  position: relative;
  top: -4px;
  width: 40px;
}

#header {
  padding: 8px 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 1000;
}

#header.header-scrolled {
  background: rgba(0, 0, 0, 0.8);
  transition: all 0.5s;
}

@media (max-width: 673px) {
  #logo {
    margin-left: 20px;
  }
}

#header #logo h1 {
  font-size: 34px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 3px;
}

#header #logo h1 a, #header #logo h1 a:hover {
  color: #fff;
  padding-left: 10px;
  border-left: 4px solid #49e4fa;
}

#header #logo img {
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  #header #logo h1 {
    font-size: 28px;
  }
  #header #logo img {
    max-height: 45px;
  }
}

.ticker-btn {
  background: #49e4fa;
  color: #fff;
  padding: 6px 20px !important;
  text-transform: uppercase;
}

.ticker-btn:hover {
  background: rgba(73, 228, 250, 0.2);
  color: #49e4fa;
}

@media (max-width: 960px) {
  .ticker-btn {
    display: none !important;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu a {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
  list-style: none;
}

.nav-menu li:nth-child(2)
{
  list-style: circle;
}

.nav-menu li:nth-child(1)
{
  margin-right: 7px;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
  text-align: left;
}

.menu-has-children ul li a {
  padding: 4px 10px !important;
  text-transform: uppercase !important;
}

/* Nav Meu Container */
#nav-menu-container {
  margin: 0;
}

@media (min-width: 1024px) {
  #nav-menu-container {
    padding-right: 60px;
  }
}

@media (max-width: 760px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 6px 10px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
  outline: none;
}

.nav-menu > li {
  margin: 0px 0px 0px;
  padding-right: 10px;
  color: #fff;
}

.nav-menu ul {
  margin: 14px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 12px;
  text-transform: none;
}

.nav-menu ul li:hover > a {
  color: #49e4fa;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 10px;
  z-index: 999;
  top: 8px;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #49e4fa;
  font-weight: 900;
}

@media (max-width: 760px) {
  #mobile-nav-toggle {
    display: inline;
  }
}


.features-area {
  margin-top: -65px;
}

.single-feature {
  text-align: center;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 40px 0px rgba(132, 144, 255, 0.2);
  padding: 25px 0;
}

.single-feature p {
  margin-bottom: 0;
}

.single-feature h5 {
  padding-bottom: 15px;
  font-weight: bold;
}

@media (max-width: 960px) {
  .single-feature {
    margin-bottom: 30px;
  }
}

.banner-content {
  margin-top: -90px;
  text-align: center;
}

.banner-content h1 {
  font-size: 48px;
  font-weight: 300;
  line-height: 1em;
  margin-top: 20px;
}

.banner-content h1 span {
  color: #49e4fa;
}

@media (max-width: 991.98px) {
  .banner-content h1 {
    font-size: 36px;
  }
}

@media (max-width: 991.98px) {
  .banner-content h1 br {
    display: none;
  }
}

@media (max-width: 1199.98px) {
  .banner-content h1 {
    font-size: 45px;
  }
}

@media (max-width: 414px) 
{
  .banner-content h1 
  {
    font-size: 32px;
  }
  .name-user-nav
  {
    display: none;
  }
}

.banner-content p span {
  color: #49e4fa;
}

@media (max-width: 1280px) {
  .banner-content br {
    display: none;
  }
}

.owl-dots {
  text-align: center;
  bottom: 5px;
  margin-top: 20px;
  width: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

.owl-dot {
  height: 10px;
  width: 10px;
  display: inline-block;
  background: rgba(127, 127, 127, 0.5);
  margin-left: 5px;
  margin-right: 5px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

 .owl-dot.active {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #49e4fa;
}

.single-popular-post {
  background-color: #222;
  padding: 20px;
}

.single-popular-post .details {
  margin-left: 40px;
}

.single-popular-post .details p {
  margin-bottom: 0;
}

.single-popular-post h4 {
  color: #fff;
}

.single-popular-post h6 {
  padding: 10px 0;
  color: #49e4fa;
}

.single-popular-post .thumb {
  display: inline-block;
}

.single-popular-post .thumb img {
  margin-top: 10px;
  margin-left: 5px;
  width: 40px;
}

.single-popular-post .btns {
  background-color: #49e4fa;
  color: #fff;
  font-size: 12px;
  position: absolute;
  bottom: 22px;
  font-weight: 400;
  padding: 9px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.single-popular-post .btns:hover {
  background-color: #1e2235;
  color: #49e4fa;
}

.notification
{
  height: 65px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.notification:hover
{
  background: #f1f1f1;
}


/*a
{
  color:#49e4fa;
  transition: all .5s ease;
}

a:hover
{
  color:#3D353AFF
}*/

.badge 
{
  padding: .45em .4em !important;
}

.single-jcat 
{
  text-align: center;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 0px 40px 0px rgba(132, 144, 255, 0.2);
  padding: 20px 0;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.single-jcat p 
{
  margin-top: 0px;
  margin-bottom: 0;
  color: #222;
}

.single-jcat:hover
{
  border: solid 1px #49e4fa;
}

.single-jcat img
{
  width: 80px;
}



.input-number,
.input-number-decrement,
.input-number-increment 
{
  border: 1px solid #ccc;
  height: 43px;
  user-select: none;
}

.input-number-decrement,
.input-number-increment 
{
  display: inline-block;
  width: 45px;
  height: 43px;
  line-height: 43px;
  background: #fff;
  color: #444;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
.input-number-decrement:active,
.input-number-increment:active 
{
  background: #ddd;
}

.input-number-decrement 
{
  border-radius: 0 .25em .25em 0;
  border-left: none;  
}

.input-number-increment 
{
  border-right: none;
  border-radius: .25em 0 0 .25em;  
}

.input-easy.disabled, :disabled 
{
  pointer-events: none !important;
  background: #ececec !important;
}
