.p1-gradient-bg, .overlay-bg
{
    background-image: -moz-linear-gradient(0deg, #bdf6ff 0%, #2d71dc 100%);
    background-image: -webkit-linear-gradient(0deg, #bdf6ff 0%, #2d71dc 100%);
    background-image: -ms-linear-gradient(0deg, #bdf6ff 0%, #2d71dc 100%);
}

.overlay 
{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 0;
    bottom: 0;
}

.overlay_n 
{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.logoShort
{
	position: relative;
	top: -5px;
	width: 50px;
}

.overlay-bg 
{
    opacity: .90;
}

.auth__wrapper
{
	/*height: 100%;*/
	/*position: fixed;*/
	position: relative;
	height: 100vh;
	z-index: 1000;
	overflow-y: hidden;
}

.auth__wrapper:hover
{
	overflow-y: auto;
}

.wrapper_social
{
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 100;
}

.wrapper_social > ul
{
	list-style: none;
}

.wrapper_social > ul.icon__social > li > a
{
	color:#fff !important;
	font-size: 25px;	
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
}

ul.icon__social > li > a
{
	color:#000 !important;
	font-size: 25px;	
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
}

@media screen and (max-width: 355px)
{
	.nice-select > span
	{
		font-size: 12px;
	}
}

@media screen and (max-width: 768px)
{
	.auth__wrapper
	{
		overflow-y: scroll;
	}
}

.particles-js-canvas-el
{
	width: 100vw !important;
	position: absolute;
	left: 0;
	z-index: 1;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

